.navigation-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  &__logo {
    height: 24px;
    @media only screen and (max-width: 768px){
      padding-right: 10px;
      height: 16px;
    }
  }
}

.favourite-list{
  padding-left: 24px;
  height: 35px;
  @media only screen and (max-width: 768px){
    padding-left: 20px;
  }
  &__img{
    height: 33px;
  }
}




