<div class="home">
  <section class="section1">
    <article class="txt">
      <p class="section1__news">Already on the cinema</p>
      <p class="section1__title">{{back.title}}</p>
      <div class="toolbar">
        <span class="toolbar__rate">Rate: <span class="toolbar__rate--highlighted">{{back.rate}}</span></span>
        <span class="toolbar__length">Length: <span class="toolbar__length--highlighted">{{back.length}}</span></span>
      </div>
      <p class="section1__description">{{back.description}}</p>
      <div class="toolbar2">
        <span class="toolbar2__detail">Genres: <span class="toolbar2__detail--highlighted">{{back.genres}}</span></span>
        <span class="toolbar2__detail">Director: <span class="toolbar2__detail--highlighted">{{back.director}}</span></span>
        <span class="toolbar2__detail">Starring: <span class="toolbar2__detail--highlighted">{{back.starring}}</span></span>
      </div>
    </article>
    <img
    src="{{back.img}}"
    alt=""
    class="section1__background-img"
    >
  </section>
  <section class="section2">
    <aside class="main-section-part">
      <button
        class="genre-button"
        routerLink="/main"
      >
        <img src="../../../assets/images/icon-genre.png" alt="" class="genre-button__icon">
        All movies
      </button>
      <div
        class="genre-list"
        *ngFor="let key of keys"
      >
        <ul class="genre-list__item"><li routerLink="/main" [queryParams]="{genre: key}">{{genres[key]}}</li></ul>
      </div>
    </aside>
    <div class="main-section-second-part">
      <div class="filter-bar">
        <label class="search">
          <img
            src="../../../assets/images/search-icon.png"
            alt=""
            class="search__logo"
          >
          <input
            [(ngModel)]="searchText"
            type="text"
            placeholder="Search"
            class="search__field"
          >
        </label>
      </div>
      <div class="movie-list">
        <div *ngFor="let movie of movies | filter:searchText" class="movies">
          <div class="movie-box" routerLink="/catalog" [queryParams]="{id: movie.id}">
            <img src="{{movie.img}}" alt="" class="movie-box__image">
            <div class="overlay">
              <p class="overlay__title">{{movie.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
