<div class="container">
  <nav class="navigation-header">
    <a routerLink="">
      <img
        class="navigation-header__logo"
        src="../../../assets/images/logo2.png"
        alt=""
      >
    </a>
    <label class="search">
      <img
        src="../../../assets/images/search-icon.png"
        alt=""
        class="search__logo"
      >
      <input
        type="text"
        placeholder="Search"
        class="search__field">
    </label>
    <a routerLink="/catalog" class="favourite-list">
      <img
        src="../../../assets/images/fav-logo.png"
        alt=""
        class="favourite-list__img">
    </a>
  </nav>
</div>
